.section-subtitle {
    margin: 0 auto;
    width: 60%;
    text-align: center;
    display: flex;
    justify-content: center;
    /*padding-top: 20px;*/
    margin-top: 20px;
    line-height: 34px;
    font-size: 24px;
    font-weight: normal;
  }